<div class="run-home row">
  <div class="center run_home-contents">
    <h1>INSTA CLONE</h1>

    <h2>
      画像投稿でつながるSNSアプリ。
    </h2>

    <%= link_to "新規登録", new_user_session_path, class: "btn btn-lg btn-default btn-new" %>
    <%= link_to "ログイン", new_user_registration_path, class: "btn btn-lg btn-default btn-login" %>
  </div>
</div>