
<%# 画像モーダル %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <% if micropost.image.attached? %>
      <% image_tag micropost.image.variant(combine_options:{auto_orient: true, gravity: :center}).processed, class: "modal-content_image" %>
    <% end %>
    <div class="modal_micropost-comment">
      <%= render "likes/like", micropost: micropost %>
      <% @comments = micropost.comments %>
      <% if @comments.any? %>
        <% if @comments.count > 3%>
          <% @threecomments = micropost.comments.first(3) %>
          <%= render @threecomments %>
          <%= link_to "...続きを読む", micropost %>
        <% else %>
          <%= render @comments%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>