@import "bootstrap-sprockets";
@import "bootstrap";
$border-gray: #d6d6d6;

body {
  font-family: "ヒラキノ角ゴシック",sans-serif;
  margin: 0 auto;
}
/* universal */

html, body {
}

body {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > .container {
    width: 100%;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  padding: 0.3em 0;
  border-bottom: solid 2px $border-gray;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// ボタン

.btn-new {
  margin-right: 20px;
  background-color: rgba(221, 177, 177, 0.5);
  border: solid 3px rgba(255, 239, 228, 0.5);
  &:hover {
    background-color: rgba(238, 217, 217, 0.5);
    border: solid 3px rgba(241, 183, 183, 0.5);
  }
}

.btn-login {
  border: solid 3px rgba(221, 177, 177, 0.5);
  &:hover {
    background-color: rgba(255, 241, 235, 1);
    border: solid 3px rgba(240, 232, 232, 0.5);
  }
}

// ログイン前ホーム
.run-home {
  min-height: 100vh;
  background-image: image-url("triangle-mosaic.png");
}

.run_home-contents {
  background-color: white;
  border: solid 5px rgb(238, 238, 238);
  border-radius: 10px;
  margin: 100px auto;
  padding: 20px 0; 
  width:90%;
  h1 {
    font-weight: bold;
    letter-spacing: 0.2em;
    padding-bottom: 20px;
  }
  h2 {
    font-weight: 200;
    letter-spacing: 0.1em;
  }
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 75px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  li {
    width: 110px;
    a{
      padding: 0;
    }
    + li {
      border-left: 0.1em solid white;
    }
  }
}

#nav-list {
  color: rgb(235, 235, 235);
  padding: 0;
  text-align: center;
}

// footer

.footer {
  justify-content: center;
  position: fixed !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
  border-top: solid 1px rgb(233, 233, 233);
  nav {
    align-items: center;
    display: flex;
    a {
      margin: 0 auto;
    }
  }
}

.font-awesome-footer {
  border: solid 2px rgb(211, 211, 211);
  border-radius: 5em 5em 5em 5em / 5em 5em 5em 5em ;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#footer nav {
  text-align: center;
}

// 検索フォーム
.search {
  line-height: 75px;
  display: inline-block;
}

.search form{
  display:inline-flex;
  width: 300px;
}

.search-form {
  border-radius: 10px 2px 2px 10px / 10px 2px 2px 10px;
  }

.font-awesome-form {
  border-radius: 2px 10px 10px 2px / 2px 10px 10px 2px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}


// home
.home-container {
  padding-top: 100px;
  .home_user-container {
    border: solid 3px #d6d6d671;
    border-radius: 10px;
    padding: 10px 0px;
  }
}


// Userフォーム
.user_new{
  .form-control {
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 30px;
  }
}

// ログインフォーム
.login-form {
  .form-control {
    margin-bottom: 20px;
  }
}
// forms
.micropost_new {
  margin-top: 30px;
  .micropost_form {
    textarea {
      width: 100%;
      height: 4em;
      max-width: 700px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .file-input {
      margin-bottom: 10px;
    }
    img {
      max-height: 350px;
      max-width: 600px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.micropost_form input {
  margin: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* microposts */

.micropost-container {
  background-color: white;
  border: solid 1px #dddddd;
  box-shadow: 0px 0px 5px 1px rgba(185, 184, 184, 0.4);
  margin-bottom: 40px;
  padding:15px;
  ol {
    padding: 5px;
  }
  .micropost_user-name {
    padding-left: 20px;
    display: table;
    .gravatar {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
    a {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.micropost-content_container {
  border-top: solid 1px $border-gray;
  border-bottom: solid 1px $border-gray;
  padding: 15px 0;
}

.microposts {
  list-style: none;
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    h2 {
      border-top: solid 1px #bbbbbb;
      font-size: 1.1em;
      color: rgb(43, 43, 43);
      font-weight: 300;
      letter-spacing: 0.1em;
      line-height: 1.4;
      padding: 15px 10px;
      margin: 0 auto;
      text-align: left;
      word-break: break-all;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .timestamp {
    color: $gray-light;
    padding-top: 10px;
  }
  .gravatar {
    padding: 5px;
  }
}


.stats {
  overflow: auto;
  margin-top: 0;
  text-align: center;
  padding-bottom: 10px;
  a {
    font-size: 0.8em;
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  border-top: solid 1px $border-gray;
  overflow: auto;
  margin-top: 10px;
  padding-top: 5px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.comment_container {
  padding-top: 7px;
}

// micropost show

.micropost-show_container {
  margin-top: 30px;
  .micropost_show-content {
    min-height: 70px; 
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


// 投稿内容の続きを読む機能
.Card{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.Card-Item-Comment-Text{
  position: relative;
  height: auto;
  font-size: 1em;
  color: rgb(43, 43, 43);
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin: 0 auto;
  padding: 10px 0;
  text-align: left;
  word-break: break-all;
}
.Card-Item-Comment-Text.isHidden{
  overflow-y:hidden;
}
.Card-Item-Comment-Text-Hide{
  display: block;
  line-height: 1.8;
  text-align: right;
}
.Card-Item-Comment-Text-More,
.Card-Item-Comment-Text-Hide{
  cursor: pointer;
}

// 投稿コメント
.commnet_content {
  text-align: left;
  color: rgb(110, 110, 110);
}

.comment-container {
  height: 30px;
  clear: both;
}

.form-group {
  .col-md-10,.col-md-2,.col-xs-12 {
    padding: 0;
  }
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

// user_info

#user_info-name {
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: rgb(48, 48, 48);
  &:hover {
    text-decoration: none;
    color: rgb(92, 92, 92);
  }
}

// フォロー一覧
.follow_container {
  margin-top: 40px;
}

// サイドバーユーザー名のフォント
.user_info h1{
  font-size: 2em;
}
.user_info-container {
  padding: 0; 
}

.user_info {
  text-align: center;
  span {
    display: block;
    font-size: 0.8em;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .gravatar {
    margin: 0 auto;
    display: block;
  }
}

// UserShow
.follow_button_container {
  margin: 10px auto;
}

// 通知アイコン
.notification-circle {
  position: absolute;
  padding-left: 6.3rem;
  padding-top: 0rem;
  top: 0.8rem;
  color: rgba(243, 174, 99,0.8);
}

.notification-container {
  margin: 40px auto 70px;
}

// 通知

.notification_container {
  li {
    list-style: none;
    margin-bottom: 3px;
  }
  .form-inline {
    border: solid 1px $border-gray;
    border-radius: 5px;
    padding: 2px;
    p {
      color: gray;
      font-size: 0.9em;
      margin: 3px 0 0 0;
    }
    img {
      border-radius: 5px;
    }
  }
}
